.enter-email label{
    display: block;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.enter-email div {
    text-align: center;
    margin-top: 10px;
}

.enter-email div input {
    height: 25px;
    width: 250px;
    border-bottom: 1px solid black;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
}

.enter-email div input:focus {
    outline: none;
}

.reset-password-button-container{
    text-align: center;
}

.reset-password-button-container button{
    height: 46px;
    width: 200px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 20px;
    font-weight: bold;
    background-color: #FF6600;
    transition: transform 0.4s;
}

.reset-password-button-container button:hover {
    transform: scale(1.05);
}

.reset-password-button-container button:focus {
    outline: none;
}